*.o
.depend
/System.map
/lks7688.ldr
/u-boot
/u-boot.map
/u-boot.srec
/uboot.bin
/.tmp_config
/tools/mkimage
/board/rt2880/librt2880.a
/common/libcommon.a
/cpu/ralink_soc/libralink_soc.a
/disk/libdisk.a
/drivers/libdrivers.a
/fs/fat/libfat.a
/lib_generic/libgeneric.a
/lib_mips/libmips.a
/net/libnet.a
